body {
  // background: rgb(131,58,180);
  // background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  background-image:url('https://images.hdqwalls.com/wallpapers/gradient-texture-abstract-4k-ar.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

.drawer-item {
   background:  #ffffff46;
   border-radius: 6px;
   transition: all .4s ease-in-out;
    padding: 10px;
    margin-top: 10px;
   &:hover{
 
    transform:scale(1.01);
     filter: brightness(0.8);
    }
}
.nav-drawer{
  border-radius: 8px;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}
.navbar {
    border-radius: 15px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    
  
    
}
.video{
 width:100%;

}

.video-player{
 
   padding: 1rem;
    margin-top: 5rem;
    
   transition: all .4s ease-in-out;
  
}
.form-header{
  font-weight: bold;
}
.submit-button{
  background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

}
.dialog{
  
}
.video-controls{
  border-radius: 0.4rem;
  padding: 0.2rem;
  width: fit-content;
   background-color: rgba(155, 151, 151, 0.144);
  text-align: center;
  margin: 0 auto; 
  position: relative;
  bottom: 76px;
}
.calling-dialog{
  
  text-align: center;
}
.controls{
  display: flex;
  justify-content:  center;
  align-items: center;
  margin-top: 1rem;
  width: fit-content;
  margin: auto;
  padding: 1rem; 
  position: -webkit-sticky;
  position: sticky;
  bottom: 20px;
}
.auth-form-paper{

    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    padding:1rem;

}
 .icon-btn{
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) .4s;
  &:hover{
 
     transform:scale(1.1);
  
      
      filter: brightness(0.8);
     }
 }
.auth-form{
  padding: 1rem;
}
.message-container{
  padding: 1rem;
}
.chat {

  width: 70%;
  margin: 0 auto;
}
 
.messageArea {
  height: 70vh;
  width: 100%;
  overflow-y: auto;
}
.messageArea::-webkit-scrollbar {

    width: 8px;
    height: 8px;
 
    background-color: rgba(170, 170, 170, 0.213); /* or add it to the track */

  

}
.messageArea::-webkit-scrollbar-thumb {
  border-radius: 0.3rem;
  background: #000;
}
.message{
  position: relative;
 
  padding: 1rem;
  background-color: #e0e0e0;
  border-radius: 0.4rem;
 
  

}
.message-right{

  margin-right: 20px;
}
.message-left{
  background-color: #3e6dfb;
  margin-left: 20px;
}
.message-right::before{
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 15px solid #e0e0e0 ;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  top: 0px;
  right:-15px;
   
}
.message-left::before{
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 15px solid #3e6dfb ;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  top: 0px;
  left:-15px;
}

@media screen and (max-width: 480px) {
  .gridContainer {
    flex-direction: column;
  }
  .chat {

    width: 100%;
  
  }
}
  
@media screen and (max-width: 600px) {
  .chat {

    width: 100%;
  
  }
}

